:root {
    --primary: #114B5F;
    --light: #F3E9D2;
    --secondary: #1A936F;
    --button: #F3DE8A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/**
* HEADER STYLING
* This contains the link to the high scores page and the timer. The only slightly
* interesting thing is the link to the high score changes color when you hover it.
*/

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    color: var(--light);
}

#scores-link,
#timer {
    font-size: 175%;
    width: 250px;
    text-align: center;
}

#scores-link:hover {
    color: var(--button);
}

/**
* BODY STYLING
* Nothing crazy here, just setting paddings, margins, etc. to get things sitting
* correctly on the page. 
*/

body {
    background-color: var(--light);
}

section {
    width: 60%;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 30px;
    margin: 30px;
    border-radius: 50px;
}

#info {
    padding: 10px;
}

#assessment {
    padding-top: 15px;
}

/**
* BUTTONS AND OPTIONS STYLING
* This makes sure that all the different buttons, including the quiz options,
* all have a similar visual style. Since the quiz options are larger, they get
* a specific styling to make them look a bit different.
*/

#start {
    width: 100px;
    height: 60px;
    margin: 20px;
}

#start,
li,
.submitBtn {
    background-color: var(--button);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

ul {
    width: 50%;
}

li {
    padding: 20px;
    margin: 10px;
    list-style-type: none;
    border-radius: 25px;
    text-align: center;
    color: black;
}

/**
* FORM STYLING
* The first-child selects only the text input form
*/

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form input:first-child {
    padding: 5px;
    background-color: white;
    border: 2px inset var(--secondary);
    margin-bottom: 10px;
}

.submitBtn {
    padding: 10px;
}

/**
* TABLE STYLING
* Border collapse looks better and allows for no gaps on table styling.
* Which row you hover over has a linear gradient highlight for easy visibility.
* The first-child makes the initials larger than the scores.
*/

table {
    border-collapse: collapse;
    width: 40%;
}

tr {
    border-bottom: 2px solid black;
    padding: 5px 0;
}

tr:hover {
    background: linear-gradient(90deg,#1A936F,#F3DE8A,#1A936F);
}

td {
    font-size: 130%;
    text-align: center;
    padding: 5px 10px;
}

td:first-child {
    font-size: 150%;
}

/**
* DYNAMIC ASSESSMENT STYLING
* Turns wrong answers red, and correct answers green. Has an animation for each.
* Wrong answers are an angry shake, and correct answers are a satisfying pop. 
*/

.wrong {
    background-color: red;
    animation: .1s shake linear;
}

.correct {
    background-color: greenyellow;
    animation: .25s pop linear;
}

@keyframes shake {
    0% {
        transform: translateX(-3px);
    }
    20% {
        transform: translateX(0px);
    }
    60% {
        transform: translateX(3px);
    }
    80% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-3px);
    }
}

@keyframes pop {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.0);
    }
}